.intro-wrapper {
    margin: 3rem 1.5rem;

    .intro {
        text-transform: uppercase;
        font-size: 1.85em;
        color: #210124;
        font-family: 'Titan One', cursive;
    }

    .columns > .address > .subtitle:nth-of-type(1), .columns > .hours > .subtitle:nth-of-type(1){
        font-family: 'Sigmar One', cursive;
        color: #210124;
    }

    .address > .subtitle, .hours > .subtitle {
        font-size: 1em;
        font-weight: 800;
    }
}

.italiansub {
    margin: 13px;
    background-image: url(../../assets/italian-sub.png);
    background-position: 50% 50%;
    background-size: cover;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}