i {
    font-size: 2em;
    color: #b3dec1;
}

.column > .address > .subtitle, .column > .hours > .subtitle, .column > .phone > .subtitle, .column > .social-media > .subtitle  {
    font-family: 'Sigmar One', cursive;
    color: #210124;
}